.animation{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(101, 127, 213);
    animation-name: dotAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

#animation-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.a1{
    animation-delay: 0;
    margin-right: 5px;
}
.a2{
    animation-delay: 0.25s;
    margin-right: 5px;
}
.a3{
    animation-delay: 0.5s;
}

@keyframes dotAnimation{
    0% {opacity: 0.2;}
    100%{opacity: 1; transform: scale(1.25);}

}


.errorMessage{
    color: rgb(140, 0, 0);
}