.sidebarList > .homepage {
  background-color: #7d92c5;
}
.maincontentBox > h1 {
  padding: 15px;
  text-align: start;
  color: #7d92c5;
}
.maincontentBox{
  
}
#welcome{
  padding: 5px;
  display: inline-block;
}
#budget{
  color:rgb(28, 97, 51)
}
#expense{
  color:rgb(194, 37, 71)
}
#remaining{
  color:rgb(32, 32, 207)
}