.sidebarList > .monthly-budget {
  background-color: #7d92c5;
}

/* .formContent {
  padding: 10px;
  background-color: #1b3c7775;
  width: 350px;
  height: 150px;
  margin: auto;
  display: flex;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#budgetForm {
  margin: auto;
}

#budgetForm > div {
  display: flex;
  justify-content: center;

  padding-bottom: 10px;
} */
