.logoHeader {
  grid-column: 1/3;
}
.textHeader {
  background-color: transparent;
}
.sidebarList > .startsida {
  background-color: #7d92c5;
}
.maincontentBox {
  margin: center;
}
.maincontent {
  grid-column: 1/3;
}
footer{
  display:flex;
  justify-content: space-between;
}