.sidebarList > .social {
    background-color: #7d92c5;
}

footer{
    display:flex;
    justify-content: space-between;
}
#feedback{
    display: flex;
    justify-content: center;
    color:indianred;
}

#forms{
    width: 80%;
}
