.sidebarList > .social {
    background-color: #7d92c5;
}

footer{
    display:flex;
    justify-content: space-between;
}
#Success{
    display: flex;
    justify-content: center;
    visibility: hidden;
    border-style: dotted;
    color:indianred;
    border-color: indigo;
}
#Failed{
    display: flex;
    justify-content: center;
    visibility: hidden;
    border-style: dotted;
    color:indianred;
    border-color: indigo;
    }